*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}


.container{
    width: 1440px;
    margin: auto;
    margin-top: 15px;
    background-color: white;
}

.row{
    margin: auto;
    width: 100%;
    margin-left: 5px;
}

.item{
    width: 33%;
    float: left;
    padding: 7px;
    position: relative;
    margin: auto;
}

.item > img {
    width: 100%;
}

.favourite{
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: xx-large;
}

.favourite > a {
    text-decoration: none;
}

.favourite:hover , .favourite:target {
    color: red;
    cursor: pointer;
}

.info1 , .info2 {
    position: absolute;
    padding: 6px;
    padding-left: 13px;
    padding-right: 13px;
    color: white;
    font-size: larger;
}

.info1{
    bottom: 90px;
    left: 7px;
    background-color: red;
}

.info2{
    bottom: 90px;
    left: 80px;
    background-color: green;
}

.secondaria {
    display: none;
}

.item:hover img[class="primaria"] {
    display: none;
}

.item:hover img[class="secondaria"] {
    display: block;
}


  .prezzo{
      color: red;
  }

  .sconto{
      text-decoration: line-through;
  }