*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

body{
    background-color: lightgrey;
}

.container{
    width: 1440px;
    margin: auto;
    border: 1px solid black;
    background-color: white;
}

.row{
    margin: auto;
    width: 99%;
}

.item{
    width: 33%;
    float: left;
    padding: 10px;
    position: relative;
}


.item > img {
    width: 100%;
}